@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

#header {
  background-color: steelblue;
  color: white;
  margin-bottom: 15px;
}

#header h1 {
  font-size: 2em;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-form {
  margin: 10px 20px 10px 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-form .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 30px 0;
}

.add-form .form-control label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-form .form-control label .question-font {
  opacity: 50%;
}

.add-form .form-control label #sparrate, .add-form .form-control label #startkapital, .add-form .form-control label #anlagezeitraum, .add-form .form-control label #zinssatz {
  display: block;
  width: 70%;
}

.add-form .form-control input {
  margin: 7px 0 0 0;
  font-size: 1em;
  border: 1px solid steelblue;
  padding-left: 5px;
  height: 40px;
}

.add-form .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-form .results button {
  display: inline-block;
  background-color: steelblue;
  color: white;
  padding: 20px 70px;
  margin-top: 20px;
  font-size: 1em;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  border-radius: 30px;
}

.allResults {
  margin: 10px 20px 10px 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
  font-family: inherit;
}

.allResults div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.allResults div .singleResults {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px 10px 5px 0;
}

.allResults div .Ergebnis {
  padding: 5px 0 15px 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  body {
    border: 1px solid black;
    margin: 30px auto;
    max-width: 800px;
    border-radius: 10px;
  }
  #header {
    border-radius: 10px;
  }
  .add-form .form-control {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
  }
  .add-form .form-control label #sparrate, .add-form .form-control label #startkapital, .add-form .form-control label #anlagezeitraum, .add-form .form-control label #zinssatz {
    display: block;
    width: 20%;
  }
  .add-form .form-control label .question-font {
    opacity: 80%;
  }
  .add-form .form-control input {
    margin: 0 0 0 5px;
    padding-left: 15px;
    max-width: 40%;
  }
  .add-form .results {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .allResults {
    font-family: 'Poppins', sans-serif;
    margin-right: 80px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=index.css.map */